@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: sans-serif, "Montserrat";
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    transition: all .2s linear;
}

$red:#ed2d34;
$black:#444;
$white:#fff;
$light-color:#777;
$border:.2rem solid $black;

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

@mixin flex($align) {
    display: flex;
    align-items: $align;
    flex-wrap: wrap;
    gap: 3rem;
}

@mixin titleText($titleSize) {
    font-size: $titleSize;
    color:$black;
    text-transform: capitalize;
 }

@mixin graphText($graphSize) {
    font-size: $graphSize;
    color: $light-color;
    padding: 1rem 0;
    line-height: 2;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
 
    &::-webkit-scrollbar{
       width:1rem;
    }
 
    &::-webkit-scrollbar-track{
       background: transparent;
    }
 
    &::-webkit-scrollbar-thumb{
       background: $red
    }
}

body {
    background: url(../img/bg.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    &.active {
        padding-left:30rem;
    }
}

section {
    padding: 5rem 9%;
}


.heading {
    text-align: center;
    @include titleText(4rem);
    margin-bottom: 3rem;

    span {
        color: $red;
    }
}

.btn {
    display: inline-block;
    border-radius: 5rem;
    color: $black;
    margin-top: 1rem;
    padding: 1.2rem 3rem;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    border: $border;
    text-transform: capitalize;
    background: none;

    &:hover {
        background: $red;
        color: $white;
        border-color: $red;
    }
}

.header {
    position: fixed;
    top: 0;left: -31rem;
    width: 30rem;height: 100%;
    background-color: $red;
    padding: 2rem;
    z-index: 100;
    &.active{
        left: 0;
    }
    .logo {
        color: $white;
        font-size: 2.5rem;
        font-weight: 600;
    }

    .nav {
        padding: 30% 0;

        a {
            display: block;
            font-size: 2rem;
            color: $white;
            margin: 2rem 0;

            &:hover {
                text-decoration: underline;
                text-underline-offset: .7rem;
            }
        }
    }

    .share {
        text-align: center;

        a {
            height: 5rem;width: 5rem;
            background: $white;
            font-size: 2rem;
            line-height: 5rem;
            margin: 0 .3rem;
            color: $black;

            &:hover {
                background: $black;
                color: $white;
            }
        }
    }

    .copy-right {
        margin-top: 3rem;
        font-size: 2rem;
        text-align: center;
        line-height: 1.5;
        color: $white;
    }
}

#menu-btn {
    position: fixed;
    text-align: center;
    font-size: 2.5rem;
    color: $white;
    height: 5rem; width: 5rem;
    line-height: 5rem;
    background: $red;
    left: 2rem; top: 2rem;
    z-index: 1000;
    cursor: pointer ;

    &.fa-times{
        top:1rem; left:24rem;
     }
}


.banner {
    @include flex(center);
    flex-wrap: wrap-reverse;

    .banner-content {
        flex: 1 1 41rem;

        .discount {
            color: $red;
            font-size: 2.5rem;
        }
        
        h3 {
            @include titleText(4rem);
            padding-top: 1rem;
        }

        p {
            @include graphText(1.7rem);
        }
    }

    .banner-image {
        flex: 1 1 41rem;

        img {
            width: 100%;
        }
    }
}

.products {
    .slide {
        text-align: center;

        img {
            height: 25rem;
            margin: 5rem 0;
            transform: scale(.5);
        }

        h3 {
            @include titleText(2.5rem);
            padding: 1rem 0;
            opacity: 0;
        }
        .btn {
            opacity: 0;
        }
    }

    .swiper-slide-active {
        img {
            transform: scale(1);
        }

        h3, .btn {
            opacity: 1;
        }
    }
}

.products-preview-container {
    position: fixed;
    top: 0;left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 1200;
    display: none;
    
    .product-preview {
        @include flex(center);
        gap: 3rem;
        background: $white;
        padding: 9%;
        position: relative;
        display: none;

        .fa-times {
            position: absolute;
            top: 2rem;
            right: 2rem;
            font-size: 4rem;
            color: $light-color;
            cursor: pointer;

            &:hover {
                color:$red;
                transform: rotate(90deg);
            }
        }

        .product-preview--img {
            flex: 1 1 40rem;

            img {
                width: 100%;
            }
        }

        .product-preview--content {
            flex: 1 1 40rem;

            h3{
                @include titleText(3rem);
             }
    
             p{
                @include graphText(1.5rem);
             }
    
             .stars{
                padding:1rem 0;
                font-size: 1.7rem;
    
                i{
                   color:$red;
                }
    
                span{
                   color:$light-color;
                }
             }
    
             .price{
                @include titleText(3rem);
                padding:1rem 0;
             }
        }
    }
}

.service {
    @include grid(30rem);
    .service-box {
        text-align: center;

        i {
            font-size: 4rem;
            color: $red;
        }

        p {
            @include graphText(2rem);
        }
    }
}

.reviews {
    text-align: center;
    .slide {
        
        i {
            font-size: 4rem;
            color: $light-color;
        }

        p {
            @include graphText(1.5rem);
        }

        img {
            width: 7rem; height: 7rem;
            border-radius: 50%;
            margin: 1rem 0;
        }

        h3 {
            @include titleText(1.7rem);
        }

    }
}


.contact {
    .contact-container {
        @include flex(center);

        form {
            flex: 1 1 41rem;

            .contact-box {
                width: 100%;
                margin-bottom: 1rem;
                padding: 2rem 0;
                font-size: 1.6rem;
                color: $light-color;
                border-bottom: $border;

                &:focus {
                    border-color: $red;
                }
            }
            textarea{
                height: 15rem;
                resize: none;
             }
        }

        .contact-info {
            flex: 1 1 41rem;

            h3 {
                @include titleText(3rem);
                padding-bottom: 1rem;
            }

            .desc {
                @include graphText(1.4rem);
            }

            .contact-info--icons {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                padding: 1.5rem 0;

                i {
                    text-align: center;
                    font-size: 2rem;
                    background-color: $red;
                    color: $white;
                    height: 5rem;
                    width: 5rem;
                    line-height: 5rem;
                    border-radius: 50%;
                }
            
                .contact-info--icons__content {
                    p {
                        @include graphText(1.5rem);
                        padding: 0;
                    }
                }
            }

            .share {
                padding-top: 2rem;

                a {
                    margin-right: 2rem;
                    font-size: 3rem;
                    color: $light-color;

                    &:hover {
                        color: $red;
                    }
                }
            }
        }
    }
}




@media (max-width: 1200px) {
    body.active {
        padding-left: 0;
    }

    header.active {
        box-shadow: 0 0 0 100vw  rgba(0, 0, 0, .8);
    }
}

@media (max-width: 991px) {
    html {
        section {
            padding: 3rem 2rem;
        }
        font-size: 55%;
    }
}


@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .banner-content h3 {
        font-size: 3rem;
    }

    .products .slide img {
        height: 15rem;
    }
}